<launch>

  <include file="$(find pico_flexx_driver)/launch/pico_flexx_driver.launch">
    <arg name="publish_tf" default="true" />
  </include>

  <!-- start rviz GUI -->
  <node name="$(anon rviz)" pkg="rviz" type="rviz" args="-d $(find model_matcher)/launch/model_matcher.rviz" output="screen"/>

</launch>
