<?xml version="1.0"?>
<launch>
  <!-- <rosparam param="use_sim_time">true</rosparam>  -->
  <node pkg="tf" type="static_transform_publisher" name="san_tf" args="0 0 0.5 0 0 0 world scan 100" /> <!-- -->
  <!-- <node name="scan_reader" pkg="model_loader" type="scan_reader" output="screen"/> -->
  <node name="rviz_model_loader" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(find model_loader)/launch/bagplay.rviz" required="true"/>
</launch>
