<?xml version="1.0"?>
<launch>

  <include file="$(find syn_ur10_bringup)/launch/syn_ur10_bringup.launch"/>

  <!-- <node name="scan_reader" pkg="model_loader" type="scan_reader" respawn="true" output="screen">
  </node> -->

  <!-- add new tf dummy node to fix the table on the floor -->
  <node name="tf_dummy" pkg="model_loader" type="tf_dummy" respawn="true" output="screen">
  </node>

  <node name="object_detector" pkg="object_localizer" type="object_detector.py" respawn="true" output="screen">
  </node>

  <include file="$(find microepsilon_scancontrol)/launch/scanner.launch"/>

  <!-- using new motion control launch file [start_motion_control_b] -->
  <include file="$(find motion_control)/launch/start_motion_control_b.launch"/>

</launch>
