<?xml version="1.0"?>
<launch>
  <arg name="ns" default="me_2900"/>
  <arg name="shutter_time" default="200" />
  <arg name="idle_time" default="800"/>
  <arg name="lag_compensation" default="0.001"/>
  <arg name="topic" default="me_2900_laser_scan"/>
  <arg name="frame" default="scanCONTROL_2900-50_scanner_laser_link"/>
  <arg name="serial_number" default="218020023"/>
  <arg name="path_to_device_properties" default="$(find microepsilon_scancontrol)/scanCONTROL_Linux_SDK_0.1.0"/>
  <node ns = "$(arg ns)" name="microepsilon_scancontrol_node" pkg="microepsilon_scancontrol" type="microepsilon_scancontrol_node" cwd="node" respawn="true" output="screen">
    <param name="shutter_time" type="int" value="$(arg shutter_time)"/>
    <param name="idle_time" type="int" value="$(arg idle_time)"/>
    <param name="lag_compensation" type="double" value="$(arg lag_compensation)"/>
    <param name="topic" type="string" value="$(arg topic)"/>
    <param name="frame" type="string" value="$(arg frame)"/>
    <param name="serial_number" type="string" value="$(arg serial_number)"/>
    <param name="path_to_device_properties" type="string" value="$(arg path_to_device_properties)"/>
  </node>
</launch>
