<?xml version="1.0"?>
<launch>

  <node name="tool0_broadcaster" pkg="tf" type="static_transform_publisher" args="0 0.5 1 0 0 0 world tool0 100" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find microepsilon_scancontrol)/description/urdf/scanCONTROL_2900-50.urdf.xacro'" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="true"/>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find microepsilon_scancontrol)/launch/test_description.rviz" required="true"/>

</launch>
