<?xml version="1.0" ?>
<robot
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="phasespace_stylus">

  <!-- Simplified URDF model of our PhaseSpace "stylus" marker object.
       Origin is at the stylus tip, with z pointing from the object,
       x is (roughly) towards the button. LEDs are (roughly) oriented
       along x- and y-axes.

       2017.10.24 - fnh - created

       for details, see tracknrec_ros/config/trackers.yaml:
  -->

  <xacro:include filename="$(find tams_apriltags)/urdf/materials.xacro" />


  <!--  The LEDs themselves are roughy (7.0, 6.0, 4.2)mm in size -->
  <xacro:macro name="phasespace_led" params="parent name *origin">
    <link name="${name}">
      <origin xyz="0 0 0" />
      <mass value="0.001" />
      <inertia  ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
      <visual>
        <material name="red" /> 
        <origin xyz="0 0 0" />
        <geometry>
          <!-- <box size="${size} ${size} ${size}" /> -->
          <box size="0.0042 0.006 0.007" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" />
        <geometry>
          <!-- <box size="${size} ${size} ${size}" /> -->
          <box size="0.0042 0.006 0.007" />
        </geometry>
      </collision>
    </link>
    <gazebo reference="${name}">
      <material>Gazebo/RedGlow</material>
      <turnGravityOff>false</turnGravityOff>
      <selfCollide>false</selfCollide>
      <!-- kp: stiffness kd: damping mu1, mu2: friction -->
      <mu1>100.0</mu1>
      <mu2>100.0</mu2>
      <kp>1000000.0</kp>
      <kd>1.0</kd>
    </gazebo>
    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}"/>
    </joint>
  </xacro:macro>


  <xacro:macro name="default_inertia_mass_inertial" params="mass inertial">
    <inertial>
      <mass value="${mass}"/>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="${inertial}" ixy="0" ixz="0" iyy="${inertial}" iyz="0" izz="${inertial}"/>
    </inertial>
  </xacro:macro>


  <xacro:macro name="tams_cylinder" params="name radius length parent material gmaterial mass inertial *origin">
    <link name="${name}">
      <xacro:default_inertia_mass_inertial  mass="${mass}" inertial="${inertial}" />
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <cylinder radius="${radius}" length="${length}" />
        </geometry>
        <material name="${material}" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <cylinder radius="${radius}" length="${length}" />
        </geometry>
      </collision>
    </link>
    <gazebo reference="${name}">
      <turnGravityOff>false</turnGravityOff>
      <selfCollide>false</selfCollide>
      <material>${gmaterial}</material>
      <mu1>50.0</mu1>
      <mu2>50.0</mu2>
      <kp>1000000.0</kp>
      <kd>1.0</kd>
    </gazebo>
    <joint name="${name}_fixedjoint" type="fixed" >
     <parent link="${parent}" />
     <child  link="${name}" />
     <xacro:insert_block name="origin" />
   </joint>
  </xacro:macro>


  <!-- See OpenSCAD model for details
     grip_diameter = 29;
     grip_height   = 125;
     grip_fn       = 16; 
  
     tip_height   = 20;
     tip_diameter = 3;
  
     front_led_ring_diameter  = 35;
     front_led_ring_thickness = 12;
     front_led_ring_inner     = 20-0.5;
     front_led_ring_fn        = 12;
  
     rear_led_ring_diameter  = 80;
     rear_led_ring_thickness = 12;
     rear_led_ring_inner     = 20-0.5;
     rear_led_ring_fn        = 12;
  -->
  <xacro:macro name="phasespace_stylus" params="name" >
    <link name="${name}" />

    <!-- length=tip_height + front_led_ring_thickness  = 0.032m -->
    <xacro:tams_cylinder name="phasespace_stylus_tip" parent="${name}"
                         radius="0.001" length="0.02"
                         mass="0.01" inertial="0.01" 
                         material="red" gmaterial="Gazebo/RedGlow" >
      <origin xyz="0 0 ${-0.02/2}" rpy="0 0 0" />
    </xacro:tams_cylinder>

    <xacro:tams_cylinder name="phasespace_stylus_grip" parent="${name}"
                         radius="${0.029/2}" length="0.125"
                         mass="0.2" inertial="0.01" 
                         material="blue" gmaterial="Gazebo/Blue" >
      <origin xyz="0 0 ${-0.032-0.125/2}" rpy="0 0 0" />
    </xacro:tams_cylinder>

    <xacro:tams_cylinder name="phasespace_stylus_front_ring" parent="${name}"
                         radius="${0.035/2}" length="0.012"
                         mass="0.02" inertial="0.01" 
                         material="black" gmaterial="Gazebo/Black" >
      <origin xyz="0 0 ${-0.02-0.012/2}" rpy="0 0 0" />
    </xacro:tams_cylinder>

    <xacro:tams_cylinder name="phasespace_stylus_rear_ring" parent="${name}"
                         radius="${0.08/2}" length="0.012"
                         mass="0.05" inertial="0.01" 
                         material="black" gmaterial="Gazebo/Black" >
      <origin xyz="0 0 ${-0.02-0.012-0.125-0.012/2}" rpy="0 0 0" />
    </xacro:tams_cylinder>

    <!-- a cylinder used as the button on the grip -->
    <xacro:tams_cylinder name="phasespace_stylus_button" parent="${name}"
                         radius="${0.003}" length="0.01"
                         mass="0.02" inertial="0.01" 
                         material="yellow" gmaterial="Gazebo/Yellow" >
      <origin xyz="${0.029/2} 0 ${-0.02-0.012-0.025}" rpy="0 0 0" />
    </xacro:tams_cylinder>

    <!-- front ring LEDs -->
    <!-- outer distance 1-3 = 2-4 = 36.48 mm -->
    <xacro:phasespace_led name="phasespace_stlyus_led1" parent="${name}" >
      <origin xyz="0.0162 0.0 ${-0.02-0.0034}" rpy="0 0 0"/>
    </xacro:phasespace_led>
    <xacro:phasespace_led name="phasespace_stlyus_led2" parent="${name}" >
      <origin xyz="0.0 0.0162 ${-0.02-0.0034}" rpy="0 0 1.571"/>
    </xacro:phasespace_led>
    <xacro:phasespace_led name="phasespace_stlyus_led3" parent="${name}" >
      <origin xyz="-0.0162 0.0 ${-0.02-0.0034}" rpy="0 0 3.1415"/>
    </xacro:phasespace_led>
    <xacro:phasespace_led name="phasespace_stlyus_led4" parent="${name}" >
      <origin xyz="0.0 -0.0162 ${-0.02-0.0034}" rpy="0 0 4.712"/>
    </xacro:phasespace_led>

    <!-- rear ring LEDs -->
    <!-- distance 5-7 = 81.9 6-8 = 82.39 -->
    <!-- translation: 0.082/2 - 0.0042/2 =  -->
    <xacro:phasespace_led name="phasespace_stlyus_led5" parent="${name}" >
      <origin xyz="0.039 0.0 ${-0.02-0.012-0.125-0.0034}" rpy="0 0 0"/>
    </xacro:phasespace_led>
    <xacro:phasespace_led name="phasespace_stlyus_led6" parent="${name}" >
      <origin xyz="0.0 0.039 ${-0.02-0.012-0.125-0.0034}" rpy="0 0 1.571" />
    </xacro:phasespace_led>
    <xacro:phasespace_led name="phasespace_stlyus_led7" parent="${name}" >
      <origin xyz="-0.039 0.0 ${-0.02-0.012-0.125-0.0034}" rpy="0 0 3.1415" />
    </xacro:phasespace_led>
    <xacro:phasespace_led name="phasespace_stlyus_led8" parent="${name}" >
      <origin xyz="-.0 -0.039 ${-0.02-0.012-0.125-0.0034}" rpy="0 0 4.712"/>
    </xacro:phasespace_led>

  </xacro:macro>


</robot>
