<?xml version="1.0" ?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="gazebo_stylus_demo">

  <!-- instantiate the URDF model of our PhaseSpace "stylus" marker object. -->

  <xacro:include filename="$(find tams_phasespace)/urdf/phasespace_stylus.xacro" />


  <link name="world" />

  <xacro:phasespace_stylus  name="phasespace_stylus" /> 

  <joint name="stylus_fixed_joint" type="fixed">
    <parent link="world" />
    <child  link="phasespace_stylus" />
    <origin xyz="0 0 0.2" rpy="0.3 0.5 0.7" />
  </joint>

</robot>
